
.history-page {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.performance-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.performance-header h2 { 
    font-size: 1.8rem;
    color: #1e293b;
    font-weight: 700;
}

.data-card {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border: 1px solid #e2e8f0;
}

.data-table {   
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.data-table th {
    background-color: #f8fafc;
    padding: 18px 25px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #475569;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-bottom:1px #475569 solid;
    
}

.data-table td {
    padding: 20px 25px;
    border-top: 1px solid white;
    color: #334155;
    font-size: 1rem;
    text-align: center;
    max-width: 200px;
    word-wrap: break-word;
}

.data-table tr:hover {
    background-color: #fcfdfe;
}

.score {
    font-family: sans-serif;
    padding: 6px 14px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 0.9rem;
    display: inline-block;
}

.percent {
    font-size: 1.05rem !important;
}

.score.Good {
    background-color: #d1fae5;
    color: #10b981;
}

.percent.Good {
    color: #10b981 !important;
    font-weight: 700;
}

.score.Bad {
    background-color: #fee2e2;
    color: #ef4444;
}

.percent.Bad {
    color: #ef4444 !important;
    font-weight: 700;
}

#clear-btn {
    background-color: #fee2e2;
    color: #ef4444;
    border: 1px solid #fecaca;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#clear-btn:hover {
    background-color: #ef4444;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.2);
}

.empty-quiz-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
}

.empty-quiz-card img {
    width: 70px;
    opacity: 0.5;
    margin-bottom: 1rem;
}
    
.empty-quiz-card h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #374151;
    margin-bottom: 0.5rem;
}

.empty-quiz-card p {
    font-family: sans-serif;
    color: #848993;
    font-size: 1rem;
}

.empty-quiz-card p strong {
    color: #2563eb;
}