
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: black;
}

.empty-quiz-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.empty-quiz-card img {
    width: 70px;
    opacity: 0.5;
    margin-bottom: 1rem;
}
    
.empty-quiz-card h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #374151;
    margin-bottom: 0.5rem;
}

.empty-quiz-card p {
    font-family: sans-serif;
    color: #848993;         /* Light Grey */
    font-size: 1rem;
}

.empty-quiz-card p strong {
    color: #2563eb;
}

.quiz-card-grid {
    margin: 2rem;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 3rem;
}

.quiz-card {
    min-height: 170px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 1.2rem 1.3rem;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.quiz-card .questions-created {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #6b7280;
}

.quiz-card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0.4rem;
}

.quiz-card .buttons .start-btn {
    flex: 1;
    font-size: 1rem;
    padding: 12px 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #2563eb;
    color: #ffffff;
}

.quiz-card .buttons .start-btn:hover {
    background-color: #1e4fd6;
}

.quiz-card .buttons .delete-btn {
    background-color: #fee2e2;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    transition: height 0.4s ease, width 0.4s ease;
}

.quiz-card .buttons .delete-btn:hover {
    background-color: #fecaca;
    width: 40px;
    height: 40px;
}

.quiz-card .title {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    color: black;
    letter-spacing: -0.5px;
}

.quiz-card .duration {
    font-family: sans-serif;
    background-color: #eff6ff;
    color: #2563eb;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.quiz-card .questions-created {
    font-family: sans-serif;
    font-size: 0.8rem;
    color: #9ca3af;
    padding-top: 10px;
    border-top: 1px solid black;
    font-weight: 500;
}
